<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <!--<th scope="col">Id</th>-->
        <th scope="col">Performer Name</th>
        <th scope="col">Composition Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let performedComposition of performedCompositions">
        <!--<td>{{ performedComposition.id }}</td>-->
        <td>{{ performedComposition.performerName }}</td>
        <td>{{ performedComposition.compositionName }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
