
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <div>   <a *ngFor="let performer of performers" class="list-group-item list-group-item-action">
        <i class="fa fa-book"></i>&nbsp;
        <input [(ngModel)]="performer.name" (change)="updatePerformer(performer)" type="text" class="input-label" style="width: 85%"/>


        <button (click)="deletePerformer(performer)" type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span>Delete</span>
        </button>

      </a>
      </div>
      </tbody>
    </table>
  </div>
</div>

